# Homework - Graph analysis with SQL

In this homework, we will leverage SQL to analyze a graph dataset. 

Two common tasks in analyzing a graph are
* finding connected components 
* computing PageRank

In the first part of this homework, your task is to write an SQL function that finds connected components of the graph.

In the second part of this homework, your task is to write an SQL function to compute the PageRank of each of the nodes of the graph.

**Grading**

This homework is worth 100 points. Each task is worth 50 points. Within each task, the point breakdown is

* 35 points - Implementation and execution
* 10 points - Test cases. Design a very small (less than 10 nodes) but comprehensive graph, hand-calculate the expected output, run your implemented functions on your test graph and verify the correctness of your function by comparing the result with your expected output. 
* 5 points - Comments. Write comments that help both you and the grader understand what you are doing and why
   

**Turnin**

Once you're done with your solution, hit "Submit" button on the top right menue, and your solution notebook will be recorded for grading. You can hit submit unlimited number of times. Your last submission will always be recorded for grading. 

**A note on speed**

It is very important that you try to do as much as possible declaratively.  Looping through the contents of a table using a cursor is necessarily going to be slow.  You should try to do as much as is possible using declarative SQL queries.  Use loops and conditionals to guide the overall control flow, only when there's clearly no way to do what you want using declarative SQL. On this assignment, there's often a **100$\times$** or more difference in performance between a well-written code that is mostly using declarative queries, and one written with a lot of loops. Not to mention that declarative queries are easier to code and debug!

For your reference, our solution for task 1 runs for about 2-3 minutes, and for task 2 runs for about 1-2 minutes.

## Data

Our graph dataset contains citation information for 4,560 papers from the Arxiv high-energy physics theory paper archive. The dataset has 14,411 citations between those papers. The dataset is comprised of two database tables:

```
node (paperID, paperTitle);
edge (paperID, citedPaperId);
```

The `node` table gives a unique paper identifier, as well as the paper title. The `edge` table indicates citations between the papers. Note that citations have a direction. Paper with `paperID` cites each `citedPaperId`. In other words, the direction is from `paperId` to `citedPaperId`.

The two database tables, `node` and `edge`, is created and populated in two `.sql` files, `node.sql` and `edge.sql`, respectively. The two files are provided under `data` directory of your Vocareum workspace.

## Connect to database and load data

It's not easy to load data from an external file to database through Jupyter Notebook. Therefore, we suggest that you use `psql` to do so since it supports special commands to run on a database server, including executing an sql file. 

In Vocareum, to access `psql`, you need to switch to standard view. Click on the dropdown button "Actions" on the top right corner, and select "Standard".

In the standard view, first click on "Start Lab" button to initialize the database server (similar to what we do in Jupyter view). See the server credentials under "Details"/"Show". The last line that starts with `PGPASSWORD=...` is the command line to use to connect to the database server. Type this command in the bash shell window at the bottom of the page. When you hit enter, you will be connected to the server, and can execute an sql files, by typing the commands: 

```
\i data/node.sql;
\i data/edge.sql;
```

To check the created tables and loaded data, run sql statements below, one at a time:

```
select * from node;
select * from edge;
```

To exit printing more and more results, type `q`.

With the data gets available in the database, start implementing your SQL functions for this homework in Jupyter Notebook. To switch back to Jupyter view, click on the dropdown button "Actions" on the top right corner, and select "Jupyter". Once again hit "Start Lab" to get connected to the same database server. Again you can get the credentials under "Details/Show".

In [2]:
%load_ext sql

Replace User (that is "postgres" in Vocareum), Password, and Host, with your credentials in the below command.

In [3]:
%sql postgresql://postgres:jall2000@localhost:5432/

In [8]:
%sql SELECT pid, state, query FROM pg_stat_activity WHERE datname = 'postgres';

 * postgresql://postgres:***@localhost:5432/
1 rows affected.

[(27308, 'active', "SELECT pid, state, query FROM pg_stat_activity WHERE datname = 'postgres' ;")]

In [7]:
%sql SELECT pg_cancel_backend(31576);

 * postgresql://postgres:***@localhost:5432/
1 rows affected.

[(True,)]

In [ ]:
with open(r"C:\Users\sacha\jupyter\edge.sql", "r") as file:
    edge_sql = file.read()

%sql $edge_sql

 * postgresql://postgres:***@localhost:5432/

In [ ]:
with open("C:\\Users\\sacha\\jupyter\\node.sql", "r") as file:
    node_sql = file.read()

%sql $node_sql

In [9]:
%%sql
select * from node
limit 10;

 * postgresql://postgres:***@localhost:5432/
10 rows affected.

[(105095, 'Super D-Helix'),
 (105090, 'Notes on Soliton Bound-State Problems in Gauge Theory and String Theory'),
 (105100, 'Bulk effects in the cosmological dynamics of brane-world scenarios'),
 (210180, 'On the Hopf Structure of W(2) Algebra and N=1 Superconformal Algebra in'),
 (105110, 'Finite Temperature Bosonic Closed Strings: Thermal Duality and the KT'),
 (210200, 'Deformed Intersecting D6-Brane GUTS II'),
 (105105, 'Quantum Mechanics and Determinism'),
 (210195, 'General graviton exchange graph for four point functions in the AdS/CFT'),
 (105115, 'Tachyon Condensation, Boundary State and Noncommutative Solitons'),
 (105125, 'Superalgebra cohomology, the geometry of extended superspaces and')]

In [10]:
%%sql
select * from edge
limit 10;

 * postgresql://postgres:***@localhost:5432/
10 rows affected.

[(9304045, 9204040),
 (9501030, 9208055),
 (9501030, 9305185),
 (9501030, 9306125),
 (9501030, 9311120),
 (9501030, 9406105),
 (9501030, 9408040),
 (9501030, 9410210),
 (9505025, 9412115),
 (9505025, 9501030)]

## Task 1 - finding connected components

To find connected components of a graph, you should treat the graph as being undirected (that is, do not worry about the direction of reference). 

To refresh your memory, a connected component is a subgraph such that there exists a path between each pair of nodes in the subgraph. Such a subgraph must be maximal in the sense that it is not possible to add any additional nodes that are connected to any node in the subgraph. 

The standard method for computing a connected component is a simple **breadth-first search (BFS)**. Pick a random starting node, and then search for all nodes reachable from the starting node, then search for all nodes reachable from all of **those** nodes, and then search for all of the nodes reachable from **those** nodes, and so on, until no new nodes are found.  The entire set of discovered nodes form one connected component. 

If there are some nodes left that are not part of any connected component analyzed so far, then pick one of those nodes randomly, and restart the computation.

You are done when all of the nodes are part of exactly one connected component.

For the first part of this homework, your first task is to 
* write one or more function in SQL to find all connected components of the graph through the **BFS** algorithm
* and then print out connected components that have at least 5 nodes (papers) and no more than 8 nodes (papers)
* when you print out the connected components, print each paperID as well as the title. Within each component, order the components by paperID.

**You are asked to implement BFS algorithm, not DFS. So, you must not use any recursion in your program.** 
**You must not use array and queue in your solution. You must be able to solve this problem by employing what you have learnt in the lectures of this class.** 

Expected Output (your connected component numbers (third column) can be different than the following, but papers forming each connected component should match): 


|paperid  |	papertitle	                                                        |   cc  |
|---------|---------------------------------------------------------------------|-------|
|3255	  |Dimensional Transmutation and Dimensional Regularization in Quantum	|   11  |
|5195	|A differential equation approach for examining the subtraction schemes	 |   11|
|9412050	|Generalised Point Interactions for the Radial Schrodinger Equation via	  |  11|
|9511010	|The regulated four parameter one dimensional point interaction	        |    11|
|9706070	|Non-perturbative regularization and renormalization: simple examples	|    11|
|9904055	|Finiteness following from underlying theory: a natural strategy	        |    11|
|9906015	|Two- and Three-particle States in a Nonrelativistic Four-fermion Model	|    11|
|8110	|Understanding Skyrmions using Rational Maps	                            |    25|
|12215	|Solitonic fullerene structures in light atomic nuclei	                |    25|
|206160	|Skyrmed Monopoles	                                                    |    25|
|210310	|Homotopy of Rational Maps and the Quantization of Skyrmions	             |   25|
|9904160	|Spherically Symmetric Solutions of the SU(N) Skyrme Models	              |  25|
|304155	|Exact String-like Solutions of the Gauged Nonlinear O(3) Model	           | 70|
|9303080	|Non-Abelian Chern-Simons Quantum Mechanics	                               | 70|
|9506015	|Statistical Mechanics of Non-Abelian Chern-Simons Particles	               | 70|
|9507015	|Topological and Nontopological Solitons in a Gauged O(3) Sigma Model	   | 70|
|9509135	|Classical and Quantum Mechanics of Non-Abelian Chern-Simons Particles	    |70|
|9703185	|N=2 Supersymmetric Gauged O(3) Sigma Model	                                |70|
|9707150	|Bogomolnyi Solitons and Hermitian Symmetric Spaces	                        |70|
|9805010	|On the Gauged Non-compact Spin System	                                   | 70|
|9212110	|Three Dimensional Chern-Simons Theory as a Theory of Knots and Links III|	85|
|9312215	|Knot invariants from rational conformal field theories	                 |   85|
|9401095	|Chirality of Knots 9_{42} and 10_{71} and Chern-Simons Theory	         |   85|
|9607030	|Vassiliev Invariants for Links from Chern-Simons Perturbation Theory	 |   85|
|9807155	|Combinatorial Formulae for Vassiliev Invariants from Chern-Simons Gauge	 |   85|
|9812105	|Vassiliev Invariants in the Context of Chern-Simons Gauge Theory	     |   85|
|9507110	|Calogero-Sutherland model from excitations of Chern-Simons vortices	     |   125|
|9611185	|A Nonrelativistic Chiral Soliton in One Dimension	                     |   125|
|9706080	|Moving Frames Hierarchy and BF Theory	                                 |   125|
|9709075	|Chiral solitons from dimensional reduction of Chern-Simons gauged	     |   125|
|9712255	|Chiral solitons from dimensional reduction of Chern-Simons gauged	     |   125|
|9508025	|Quasiclassical QCD Pomeron	                                             |   127|
|9511210	|Modular Invariance and the Odderon	                                     |   127|
|9611025	|Direct solution of the hard pomeron problem for arbitrary conformal	     |   127|
|9802100	|Solution of the Odderon Problem	                                         |   127|
|9805135	|New Results on the Odderon in QCD	                                     |   127|
|9611150	|Dimensional Renormalization in phi^3 theory: ladders and rainbows	     |   149|
|9612010	|Weight Systems from Feynman Diagrams	                                 |   149|
|9712140	|Non-zeta knots in the renormalization of the Wess-Zumino model?	         |   149|
|9805025	|A dilogarithmic 3-dimensional Ising tetrahedron	                         |   149|
|9807125	|How useful can knot and number theory be for loop calculations?         | 	149|

In [11]:
%%sql
CREATE OR REPLACE FUNCTION connectedComponents(nodes TEXT, edges TEXT)
RETURNS TABLE(paperid INT, papertitle TEXT, cc INT)
RETURNS NULL ON NULL INPUT
AS $$
DECLARE 
    ccnumber INT; 
    curid INT; 
    curNbr INT;
    curtitle TEXT;
    nodeCursor REFCURSOR;
BEGIN 
    EXECUTE 'DROP TABLE IF EXISTS tempNodes';
    EXECUTE format('CREATE TEMP TABLE tempNodes (LIKE %I INCLUDING ALL)', nodes);
    EXECUTE format('INSERT INTO tempNodes SELECT * FROM %I', nodes);
    EXECUTE 'DROP TABLE IF EXISTS results';
    EXECUTE 'CREATE TEMP TABLE results (paperid INT, papertitle TEXT, cc INT)';
    EXECUTE 'DROP TABLE IF EXISTS curcc';
    EXECUTE 'CREATE TEMP TABLE curcc (pid INT)';
    EXECUTE 'DROP TABLE IF EXISTS oldcurcc';
    EXECUTE 'CREATE TEMP TABLE oldcurcc (pid INT)';

    
    ccnumber = 1;
    
    OPEN nodeCursor FOR SELECT * FROM tempNodes;

    LOOP 
        FETCH nodeCursor INTO curid, curtitle;
        EXIT WHEN NOT FOUND;
        
        IF NOT EXISTS (SELECT r.paperid FROM results AS r WHERE r.paperid = curid) THEN
            
            EXECUTE 'DELETE FROM curcc';
            EXECUTE format('INSERT INTO curcc (pid) VALUES(%L)', curid);
            
            LOOP 
                IF NOT EXISTS (SELECT 1 FROM curcc) THEN 
                    EXIT;
                END IF;
                
                EXECUTE 'DELETE FROM oldcurcc';
                EXECUTE '
                        INSERT INTO oldcurcc (pid) 
                        SELECT pid FROM curcc
                        ';
                        
                EXECUTE format('
                                INSERT INTO results (paperid, papertitle, cc)
                                SELECT c.pid, n.papertitle, %L
                                FROM curcc AS c INNER JOIN tempNodes AS n ON c.pid = n.paperid;
                        ', ccnumber);
                EXECUTE 'DELETE FROM curcc';
                EXECUTE format('
                                INSERT INTO curcc (pid) 
                                SELECT new FROM (
                                        SELECT e.paperid AS new 
                                        FROM %I AS e INNER JOIN oldcurcc AS c ON c.pid = e.citedpaperid
                                        UNION 
                                        SELECT e2.citedpaperid AS new 
                                        FROM %I AS e2 INNER JOIN oldcurcc AS c2 ON c2.pid = e2.paperid
                                                ) AS s
                                WHERE new NOT IN (SELECT pid FROM oldcurcc) 
                                    AND new NOT IN (SELECT paperid FROM results) 
                        ', edges, edges);

            END LOOP;
        ccnumber := ccnumber + 1;
        END IF;
    END LOOP;
    RETURN QUERY SELECT DISTINCT * FROM results;
    
END;
$$
LANGUAGE plpgsql;

 * postgresql://postgres:***@localhost:5432/
Done.

[]

### Your test case 

Design a very small (less than 10 nodes) but comprehensive graph (has at least 2 connected components), hand-calculate the expected output, run your implemented function on your test graph and verify the correctness of your function by comparing the result with your expected output.

In [12]:
%%sql
DROP TABLE IF EXISTS testnodes;
DROP TABLE IF EXISTS testedges;

CREATE TABLE testnodes
(
    paperid INT,
    papertitle VARCHAR,
    PRIMARY KEY (paperid)
);
CREATE TABLE testedges
(
    paperid INT, 
    citedpaperid INT 
);
INSERT INTO testnodes (paperid, papertitle) VALUES
    (1, 'A1'), 
    (2, 'A2'), 
    (3, 'A3'), 
    (4, 'A4'), 
    (5, 'B1'), 
    (6, 'B2')
;
INSERT INTO testedges (paperid, citedpaperid) VALUES
    (1, 2), 
    (2, 3), 
    (2, 4), 
    (5, 6)
;

 * postgresql://postgres:***@localhost:5432/
Done.
Done.
Done.
Done.
6 rows affected.
4 rows affected.

[]

In [13]:

%%sql 
DROP TABLE IF EXISTS cctestresults;

CREATE TABLE cctestresults
(
    paperid INT,
    papertitle VARCHAR,
    cc INT,
    PRIMARY KEY (paperid)
);

INSERT INTO cctestresults (paperid, papertitle, cc)
SELECT * FROM connectedComponents('testnodes', 'testedges');

SELECT paperid, papertitle, t1.cc 
FROM cctestresults AS t1
INNER JOIN (SELECT cc, COUNT (*) AS cccount
            FROM cctestresults AS t2
            GROUP BY cc) AS sub
ON t1.cc = sub.cc
WHERE cccount >= 3 AND cccount <= 8
ORDER BY cc, paperid

 * postgresql://postgres:***@localhost:5432/
Done.
Done.
6 rows affected.
4 rows affected.

[(1, 'A1', 1), (2, 'A2', 1), (3, 'A3', 1), (4, 'A4', 1)]

In [14]:
%%sql 
DROP TABLE IF EXISTS ccfinalresults;

CREATE TABLE ccfinalresults
(
    paperid INT,
    papertitle VARCHAR,
    cc INT,
    PRIMARY KEY (paperid)
);

INSERT INTO ccfinalresults (paperid, papertitle, cc)
SELECT * FROM connectedComponents('node', 'edge');

SELECT paperid, papertitle, t1.cc 
FROM ccfinalresults AS t1
INNER JOIN (SELECT cc, COUNT (*) AS cccount
            FROM ccfinalresults AS t2
            GROUP BY cc) AS sub
ON t1.cc = sub.cc
WHERE cccount >= 5 AND cccount <= 8
ORDER BY cc, paperid

 * postgresql://postgres:***@localhost:5432/
Done.
Done.
4560 rows affected.
41 rows affected.

[(8110, 'Understanding Skyrmions using Rational Maps', 3),
 (12215, 'Solitonic fullerene structures in light atomic nuclei', 3),
 (206160, 'Skyrmed Monopoles', 3),
 (210310, 'Homotopy of Rational Maps and the Quantization of Skyrmions', 3),
 (9904160, 'Spherically Symmetric Solutions of the SU(N) Skyrme Models', 3),
 (9611150, 'Dimensional Renormalization in phi^3 theory: ladders and rainbows', 8),
 (9612010, 'Weight Systems from Feynman Diagrams', 8),
 (9712140, 'Non-zeta knots in the renormalization of the Wess-Zumino model?', 8),
 (9805025, 'A dilogarithmic 3-dimensional Ising tetrahedron', 8),
 (9807125, 'How useful can knot and number theory be for loop calculations?', 8),
 (9507110, 'Calogero-Sutherland model from excitations of Chern-Simons vortices', 10),
 (9611185, 'A Nonrelativistic Chiral Soliton in One Dimension', 10),
 (9706080, 'Moving Frames Hierarchy and BF Theory', 10),
 (9709075, 'Chiral solitons from dimensional reduction of Chern-Simons gauged', 10),
 (9712255, 'Chiral solitons from dimensional reduction of Chern-Simons gauged', 10),
 (9508025, 'Quasiclassical QCD Pomeron', 13),
 (9511210, 'Modular Invariance and the Odderon', 13),
 (9611025, 'Direct solution of the hard pomeron problem for arbitrary conformal', 13),
 (9802100, 'Solution of the Odderon Problem', 13),
 (9805135, 'New Results on the Odderon in QCD', 13),
 (9212110, 'Three Dimensional Chern-Simons Theory as a Theory of Knots and Links III', 16),
 (9312215, 'Knot invariants from rational conformal field theories', 16),
 (9401095, 'Chirality of Knots 9_{42} and 10_{71} and Chern-Simons Theory', 16),
 (9607030, 'Vassiliev Invariants for Links from Chern-Simons Perturbation Theory', 16),
 (9807155, 'Combinatorial Formulae for Vassiliev Invariants from Chern-Simons Gauge', 16),
 (9812105, 'Vassiliev Invariants in the Context of Chern-Simons Gauge Theory', 16),
 (304155, 'Exact String-like Solutions of the Gauged Nonlinear O(3) Model', 39),
 (9303080, 'Non-Abelian Chern-Simons Quantum Mechanics', 39),
 (9506015, 'Statistical Mechanics of Non-Abelian Chern-Simons Particles', 39),
 (9507015, 'Topological and Nontopological Solitons in a Gauged O(3) Sigma Model', 39),
 (9509135, 'Classical and Quantum Mechanics of Non-Abelian Chern-Simons Particles', 39),
 (9703185, 'N=2 Supersymmetric Gauged O(3) Sigma Model', 39),
 (9707150, 'Bogomolnyi Solitons and Hermitian Symmetric Spaces', 39),
 (9805010, 'On the Gauged Non-compact Spin System', 39),
 (3255, 'Dimensional Transmutation and Dimensional Regularization in Quantum', 98),
 (5195, 'A differential equation approach for examining the subtraction schemes', 98),
 (9412050, 'Generalised Point Interactions for the Radial Schrodinger Equation via', 98),
 (9511010, 'The regulated four parameter one dimensional point interaction', 98),
 (9706070, 'Non-perturbative regularization and renormalization: simple examples', 98),
 (9904055, 'Finiteness following from underlying theory: a natural strategy', 98),
 (9906015, 'Two- and Three-particle States in a Nonrelativistic Four-fermion Model', 98)]

## Task 2 - computing PageRank

PageRank is a standard graph metric that is well-known as the basis for Google's original search engine.  The idea behind PageRank is simple: we want a metric that rewards web pages (or in our case, papers) that are often pointed to by other pages (or in our case, often cited by other papers). The more popular the page, the greater the PageRank.

To accomplish this, PageRank models a web surfer, starting at a random page, and randomly clicking links. There is a probability $d$ that the surfer follows a link from the current page, a probability $1 - d$ that the surfer jumps to a random page. $d$ is called the **damping factor**. A standard value for $d$ is 0.85 (everyone should use this value in this homework to expect the same result). Given this setup, the so-called **PageRank** of a web page (or a paper) is the probability that when the user stops clicking (or following references), s/he will land on that page.

Since so-called **sinks** (those pages that don't link anywhere else) would accumulate all of this probability under the simplest model, it is assumed that those pages with no out-links instead link with equal probability to everyone else.

There are many ways to compute the PageRank of every page (or node) in a dataset.  The simplest is an iterative
computation.  

Let $PR_i (\textrm{node}_j)$ denote the estimated PageRank of the paper $\textrm{node}_j$ at iteration $i$. 

Assume that there are $n$ papers in our dataset.  We start out with $PR_0 (\textrm{paper}_j) = \frac{1}{n}$ for all $j$.  

Then, at iteration $i$, we simply set:
$$PR_i (\textrm{paper}_j) = \frac{1 - d}{n} + d \left( \sum_{k \in \{\textrm{papers citing paper}_j\}} 
	\frac{PR_{i - 1}(\textrm{paper}_k)}{\textrm{num papers cited by paper}_k} \right)$$

This iterative process is continued until 
there is only a small movement in probability across iterations.  In our case, we'll continue as long as:
$$0.01 < \sum_j | PR_i (\textrm{paper}_j) - PR_{i-1} (\textrm{paper}_j)|$$

For the second part of this homework, your task in to 
* write one or more function in SQL to compute the PageRank of each of the nodes in the graph, 
* and then print out top 10 nodes with the greatest PageRank values. 
* when you print out the top 10 nodes, print their paperID, title, and PageRank value, in descending order of PageRank value.  

**You must not use array and queue in your solution. You must be able to solve this problem by employing what you have learnt in the lectures of this class.**

Expected Output:

|paperid|	papertitle|	pr_new|
|-------|-------------|-------|
|9504090|	Massless Black Holes and Conifolds in String Theory|	0.0147263015095166|
|9510135|	Bound States Of Strings And p-Branes|	0.014445607362399|
|9711200|	The Large N Limit of Superconformal Field Theories and Supergravity|	0.0136469218676865|
|9802150|	Anti De Sitter Space And Holography|	0.00969743736788911|
|208020|	Open strings and their symmetry groups|	0.00863110436212955|
|9602065|	D--branes and Spinning Black Holes|	0.00771739937388175|
|9305185|	Duality Symmetries of 4D Heterotic Strings|	0.00754942875155704|
|9611050|	TASI Lectures on D-Branes|	0.00712903256168863|
|9501030|	Strong/Weak Coupling Duality from the Dual String|	0.00581517415021793|
|9602135|	Entropy and Temperature of Black 3-Branes|	0.00541590756825467|

In [15]:
%sql DROP FUNCTION IF EXISTS pagerank(nodes TEXT, edges TEXT);

 * postgresql://postgres:***@localhost:5432/
Done.

[]

In [16]:
%%sql
DROP FUNCTION IF EXISTS pagerank2(nodes TEXT, edges TEXT);
CREATE OR REPLACE FUNCTION pagerank2(nodes TEXT, edges TEXT)
RETURNS TABLE(paperid INT, papertitle TEXT, pr DOUBLE PRECISION)
RETURNS NULL ON NULL INPUT
AS $$
DECLARE 
    n INT;
BEGIN 
    EXECUTE 'DROP TABLE IF EXISTS tempEdges';
    EXECUTE format('CREATE TEMP TABLE tempEdges (LIKE %I INCLUDING ALL)', edges);
    EXECUTE format('INSERT INTO tempEdges SELECT * FROM %I', edges);
    EXECUTE 'DROP TABLE IF EXISTS old';
    EXECUTE 'CREATE TEMP TABLE old (paperid INT, papertitle TEXT, pr DOUBLE PRECISION)';
    EXECUTE 'DROP TABLE IF EXISTS new';
    EXECUTE 'CREATE TEMP TABLE new (paperid INT, papertitle TEXT, pr DOUBLE PRECISION)';
    EXECUTE 'DROP TABLE IF EXISTS diff';
    EXECUTE 'CREATE TEMP TABLE diff (prdiff DOUBLE PRECISION)';
    EXECUTE 'DROP TABLE IF EXISTS outgoing';
    EXECUTE 'CREATE TEMP TABLE outgoing (paperid INT, outgoing INT)';
        
    EXECUTE 'CREATE INDEX idx_tempEdges_paperid ON tempEdges(paperid)';
    EXECUTE 'CREATE INDEX idx_tempEdges_citedpaperid ON tempEdges(citedpaperid)';
    EXECUTE 'CREATE INDEX idx_outgoing_paperid ON outgoing(paperid)';
    EXECUTE 'CREATE INDEX idx_old_paperid ON old(paperid)';
    
    EXECUTE format('
                    INSERT INTO tempEdges (paperid, citedpaperid) 

                    SELECT sub.paperid, n2.paperid
                    FROM 
                        (SELECT n.paperid 
                        FROM %I AS n 
                        WHERE n.paperid NOT IN (SELECT e.paperid FROM %I AS e)) AS sub
                        CROSS JOIN 
                        %I AS n2;
                   ', nodes, edges, nodes);
                   
    EXECUTE format('SELECT COUNT(*) FROM %I', nodes) INTO n; 
    
    EXECUTE format('
                    INSERT INTO old (paperid, papertitle, pr) 
                    
                    SELECT n.paperid, n.papertitle, 1.0 / %L
                    FROM %I AS n 
                   ', n, nodes);
    
    EXECUTE '
            INSERT INTO outgoing (paperid, outgoing)

            SELECT e.paperid, COUNT(*)
            FROM tempEdges AS e  
            GROUP BY e.paperid
           ';
    
    LOOP 
    
        EXECUTE format('
                
                    WITH tab AS (
                    SELECT o2.paperid, e.citedpaperid, (o2.pr / out.outgoing) AS val
                    FROM old AS o2 INNER JOIN tempEdges AS e
                    ON o2.paperid = e.paperid
                    INNER JOIN outgoing AS out
                    ON out.paperid = e.paperid
                    ), agg AS (
                    SELECT citedpaperid, SUM(val) AS sum_val
                    FROM tab
                    GROUP BY citedpaperid
                    )
                    
                    INSERT INTO new (paperid, papertitle, pr) 

                    SELECT o.paperid, o.papertitle, 
                    ((0.15 / %L) + 0.85 * COALESCE(a.sum_val, 0))
          
                    FROM old AS o
                    LEFT JOIN agg a ON o.paperid = a.citedpaperid
                    ', n);
                    
        EXECUTE 'INSERT INTO diff (prdiff)
                SELECT ABS(o.pr - n.pr)
                FROM old AS o INNER JOIN new AS n
                ON o.paperid = n.paperid';
        
        
        IF (SELECT COALESCE(SUM(prdiff), 0) FROM diff) < 0.01 THEN 
            EXIT;
        END IF;
    
        EXECUTE 'TRUNCATE  old';
        EXECUTE 'INSERT INTO old (paperid, papertitle, pr)
                SELECT * FROM new';
        EXECUTE 'TRUNCATE  new';
        EXECUTE 'TRUNCATE  diff';

    END LOOP;
    
    RETURN QUERY SELECT DISTINCT * FROM new;
END;
$$
LANGUAGE plpgsql;

 * postgresql://postgres:***@localhost:5432/
Done.
Done.

[]

### Your test case 

Design a very small (less than 10 nodes) but comprehensive graph, hand-calculate the expected output, run your implemented function on your test graph and verify the correctness of your function by comparing the result with your expected output.

In [17]:
%%sql
DROP TABLE IF EXISTS testnodes;
DROP TABLE IF EXISTS testedges;

CREATE TABLE testnodes
(
    paperid INT,
    papertitle VARCHAR,
    PRIMARY KEY (paperid)
);
CREATE TABLE testedges
(
    paperid INT, 
    citedpaperid INT 
);
INSERT INTO testnodes (paperid, papertitle) VALUES
    (1, 'A1'), 
    (2, 'A2'), 
    (3, 'A3'), 
    (4, 'A4'), 
    (5, 'B1'), 
    (6, 'B2')
;
INSERT INTO testedges (paperid, citedpaperid) VALUES
    (1, 2), 
    (2, 3), 
    (2, 4), 
    (5, 6), 
    (4, 1), 
    (3, 2)
;
SELECT * FROM testedges;

 * postgresql://postgres:***@localhost:5432/
Done.
Done.
Done.
Done.
6 rows affected.
6 rows affected.
6 rows affected.

[(1, 2), (2, 3), (2, 4), (5, 6), (4, 1), (3, 2)]

Manual calculation of test case: 
At first, all the pr are 1/6 = 0.1667
First iteration: 
A1 = 0.15/6 + 0.85 * (0.1667/1 + 0.1667/6) = 0.190
A2 = 0.15/6 + 0.85 * (0.1667/1 + 0.1667/1 + 0.1667/6) = 0.332

In [18]:
%%sql 
SELECT * FROM pagerank2('testnodes', 'testedges') ORDER BY pr
LIMIT 10

 * postgresql://postgres:***@localhost:5432/
6 rows affected.

[(5, 'B1', 0.033960283714126106),
 (6, 'B2', 0.06290758635279943),
 (3, 'A3', 0.18272600871877417),
 (4, 'A4', 0.18272600871877417),
 (1, 'A1', 0.1894907664570344),
 (2, 'A2', 0.3481893460384916)]

In [21]:
%%sql 
SELECT * FROM pagerank2('node', 'edge') ORDER BY pr DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/
10 rows affected.

[(9504090, 'Massless Black Holes and Conifolds in String Theory', 0.014726301509516653),
 (9510135, 'Bound States Of Strings And p-Branes', 0.014445607362399034),
 (9711200, 'The Large N Limit of Superconformal Field Theories and Supergravity', 0.01364692186768646),
 (9802150, 'Anti De Sitter Space And Holography', 0.009697437367889106),
 (208020, 'Open strings and their symmetry groups', 0.008631104362129565),
 (9602065, 'D--branes and Spinning Black Holes', 0.007717399373881768),
 (9305185, 'Duality Symmetries of 4D Heterotic Strings', 0.007549428751557051),
 (9611050, 'TASI Lectures on D-Branes', 0.007129032561688636),
 (9501030, 'Strong/Weak Coupling Duality from the Dual String', 0.005815174150217926),
 (9602135, 'Entropy and Temperature of Black 3-Branes', 0.005415907568254691)]